.block-textarea {
  margin: 20px 0;
}
.textarea {
  border: none;
  border-radius: 5px;
  outline: none;
  background: #1e1e1e0a;
  max-width: 95%;
  min-width: 95%;
  max-height: 500px;
  min-height: 90px;
  padding: 10px;
  font-size: 15px;
}
