select {
  width: 100%;
  outline: none;
}

.types-cover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  .price {
    color: #544782;
    font-weight: 600;
    font-size: 16px;
    span {
      font-weight: 400;
      align-items: center;
    }
  }
}

.types-cover::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  bottom: 0;
  min-height: 0;
  height: .03125rem;
  background-color: #544782;
  opacity: .2;
  width: 70%;
}

.types-cover:hover {
  background-color: #5a68d32a;
}
